
@font-face {
    font-family: "Standard";
    src:
      url("/css/standard/standard-bold-italic-webfont.woff") format("woff2"),
      url("/css/standard/standard-bold-italic-webfont.woff2") format("woff");
      font-weight:bold;
      font-style:italic
  }
  
  
  @font-face {
    font-family: "Standard";
    src:
      url("/css/standard/standard-italic-webfont.woff") format("woff2"),
      url("/css/standard/standard-italic-webfont.woff2") format("woff");
      
      font-style:italic
  }
  
  
  
  @font-face {
    font-family: "Standard";
    src:
      url("/css/standard/standard-bold-webfont.woff") format("woff2"),
      url("/css/standard/standard-bold-webfont.woff2") format("woff");
      font-weight:bold;
      font-style:normal;
  }
  
  
  
  
  @font-face {
    font-family: "Standard";
    src:
      url("/css/standard/standard-book-webfont.woff") format("woff2"),
      url("/css/standard/standard-book-webfont.woff2") format("woff");
      font-weight:normal;
      font-style:normal;
  }
  
  
  
  html, body {
      font-family:'Standard';
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background: #333;
  }
  
  
  
  
  #top {
      
      width:100vw;
      height:100vh;
      background:white;
      position:fixed;
      z-index:0;
  }
  
  svg {
      position:relative;
      z-index:100;
  }
  
  h1 {
      font-size:100px;
  }