@font-face {
  font-family: "Juncture";
  src: url("./JunctureVF.woff2") format("woff2");
}
@font-face {
  font-family: "Zeitpunkt";
  src: url("./Zeitpunkt-Light.woff2") format("woff2");
}
@font-face {
  font-family: "Dotgrid";
  src: url("./DotgridVF.woff2") format("woff2");
}
@font-face {
  font-family: "SuperbEllipseMono";
  src: url("./SuperEllipseMonoSansVF.woff2") format("woff2");
}
img {
  max-width: 100%;
}

*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a:link,
a:active,
a:visited {
  color: inherit;
}

a:hover {
  text-decoration: none;
}

.link {
  font-weight: 500;
}

body {
  font-family: "Juncture";
  font-weight: 300;
}

p {
  margin-bottom: 0.5em;
}

strong {
  font-weight: 600;
}

.zp {
  font-family: "Zeitpunkt";
  font-size: 0.9em;
}

.dg {
  font-family: "dotgrid";
  font-size: 1.5em;
}

.sem {
  font-family: "SuperbEllipseMono";
  font-size: 0.5em;
}

.noBorder {
  border: none;
}

header, footer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 2rem 2rem 0 2rem;
}
header h1:nth-child(2), footer h1:nth-child(2) {
  text-align: right;
}

h1 {
  font-weight: 300;
  font-size: 60px;
  line-height: 0.8;
}

.thumb {
  max-height: 150px;
  transition: max-height 0.15s;
}

table {
  margin: 1em;
  width: calc(100% - 2em);
  border-spacing: 0;
  border-top: 1px solid #000;
}
table tr.teaser_row td {
  padding: 1em;
  transition: all 0.15s;
}
table tr.teaser_row td .thumbnail {
  max-height: 100px;
}
table tr.rule td {
  padding: 0;
  border-bottom: 1px solid #000;
}
table tr.teaser_row:hover td, table tr.teaser_row.active td {
  color: white;
  background: black;
  padding: 2em 1em;
}
table tr.teaser_row:hover td .thumbnail, table tr.teaser_row.active td .thumbnail {
  max-height: 150px;
}
.active table tr.teaser_row:hover td .thumbnail, .active table tr.teaser_row.active td .thumbnail {
  max-height: 100px;
}

.slide {
  width: 100%;
  height: 800px;
  position: relative;
}
.slide img {
  max-width: 100%;
  max-height: 90%;
  display: block;
  position: absolute;
  top: 0%;
  left: 50%;
  transform: translate(-50%, 0%);
}
.slide p {
  position: absolute;
  width: 100%;
  bottom: 0;
  font-size: 1rem !important;
  font-weight: 600;
  text-align: center;
}

.close {
  font-size: 2em;
  opacity: 0;
}
.active .close {
  opacity: 1;
  cursor: pointer;
}

.hover_preview {
  position: fixed;
  pointer-events: none;
}
.hover_preview img {
  max-width: 500px;
  max-height: 300px;
  transform: translate(20px, -50%);
}
.active .hover_preview {
  display: none;
}

.expanded {
  max-height: 0;
  overflow: hidden;
  padding: 0;
  display: grid;
  grid-template-columns: 500px 1fr;
  column-gap: 1em;
  transition: max-height 0.3s, padding 0.3s;
  text-align: left;
}
.expanded p {
  font-size: 1.5em;
}
.active .expanded {
  padding: 1em;
  max-height: 1500px;
  padding-bottom: 3em;
}

.big-carousel {
  display: block;
}

.small-carousel {
  display: none;
}

@media (max-width: 1000px) {
  footer {
    display: block;
    padding: 0;
  }
  header h1, footer h1 {
    text-align: center;
    font-size: 30px;
    padding: 0.25rem 0.25rem 2rem 0.25rem;
  }
  header h1:nth-child(2), footer h1:nth-child(2) {
    text-align: center;
  }
  table {
    margin: 0;
    width: 100%;
  }
  table tr.teaser_row td,
  .active .expanded {
    padding: 0.5rem;
    margin: 0;
  }
  .hide_small {
    display: none;
  }
  .hover_preview {
    display: none !important;
  }
  .expanded {
    display: block;
  }
  .expanded p {
    font-size: 1.2em;
  }
  .big-carousel {
    display: none;
  }
  .small-carousel {
    display: block;
  }
}

/*# sourceMappingURL=app.css.map */
